<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defualHref="/oferta"></ion-back-button>
    </ion-buttons>
    <ion-title class="centrar fondotitle">DETALLES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="back2">
      <ion-img [src]="oferta.imagePro"></ion-img>
  </div>

  <div class="space1 back1">
    <div class="space2 tunning1">
          {{oferta.final}}
    </div>

    <div class="space2 tunning1">
          {{oferta.producto}}
    </div>
  </div>

  <div class="space2">

    <div class="space1">
      <h1 class="fecha">Fecha</h1>
    </div>

    <div class="space1 por">
      <div class="space2 tunning2">
            <h2 class="ficha">Dia</h2>
            <div class="tunning3">
              {{oferta.dia}}
            </div>
      </div>

      <div class="space2 tunning2">
            <h2 class="ficha tunning4">A las</h2>
      </div>

      <div class="space2 tunning2">
            <h2 class="ficha">Hora</h2>
            <div class="tunning3">
              {{oferta.hora}}
            </div>
      </div>
    </div>

  </div>

  <div class="back4">
    <h1 class="detalle">Detalles</h1>
  </div>

  <div class="space1 back3">

    <div class="space2 tunning2">
      <div class="space1 tunning2">
          {{oferta.rol1}}
      </div>
      <div class="space1 tunning2">
          <ion-avatar name="person-circle-outline">
          <ion-img [src]="oferta.imageUrl1">
          </ion-img>
        </ion-avatar>
      </div>
      <div class="space1 tunning2">
          {{oferta.name1}}
      </div>
    </div>
    

    <div class="space2 tunning2">
      <div class="space1 tunning2">
          {{oferta.rol2}}
      </div>
      <div class="space1 tunning2">
          <ion-avatar name="person-circle-outline">
          <ion-img [src]="oferta.imageUrl2">
          </ion-img>
          </ion-avatar>
      </div>
      <div class="space1 tunning2">
          {{oferta.name2}}
      </div>
    </div>
  </div>

  <div class="space2">

    <div class="space1">
      <h1 class="ruta">Ruta</h1>
    </div>

    <div class="space2 tunning7">
      <div class="space1">
      <h1 class="texto">Desde:</h1>
      </div>
      <div class="space1 texto2">
        {{oferta.desde}}
      </div>
    </div>

    <div class="space2 tunning7">
      <div class="space1">
      <h1 class="texto">Hasta:</h1>
      </div>
      <div class="space1 texto2">
        {{oferta.hasta}}
      </div>
    </div>

  </div>

  <div class="ultimo space2">

    <div class="space1">
      <h1 class="coti">Cotización</h1>
    </div>

    <div class="space1">
      <div class="space2 tunning5">
        <ion-input placeholder="Valor del servicio"></ion-input>
      </div>

      <div class="space2 tunning6">
        <ion-button class="enviar" color="light" shape="round">ENVIAR</ion-button>
      </div>
    </div>

    <div class="space1 salto">
      <h3 class="info">Establece el valor del servicio teniendo en cuenta la distancia desde tu punto
        de partida hasta la ubicación final.
      </h3>
    </div>

  </div>


</ion-content>
