ion-no-padding {
  background: #74635B;
  color: #ffffff;
}

.info{
  background: #ffffff;
}

.textCatalago0{
  color: #311C13;
  font-size: 13px;
}

.textCatalago1{
  color: #311C13;
  font-size: 18px;
}

.textCatalago2{
  color: #311C13;
  font-size: 20px;
}

.espacio5{
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  text-align: center;
  margin-right: 60px;
}
