<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon name="person-circle-outline"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title class="espacio5">Entregas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-searchbar debounce="100" style="background-color:rgb(118, 189, 118)"></ion-searchbar>
  </div>
  <div class="row1">
    <h3 style="font-family: 'Arial';font-size:light; font-style: oblique;">No tienes entregas aún</h3>
    <h3 style="font-family: 'Arial';font-size:light; font-style: oblique;">Acepta solicitudes</h3>
  </div>
</ion-content>

