.espacio5{
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  text-align: center;
  margin-right: 60px;
}

.row1{
  position: relative;
  top: 250px;
  text-align: center;
  font-size: 22px;
  color:#757575;
}
