<ion-header>
  <ion-toolbar color="success">
    <ion-title class="espacio">Ofertas</ion-title>
    <ion-buttons slot="end">
    <ion-icon class="espacio2" [routerLink]="['/menu/inicio-transportador']"  name="close-circle"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-card *ngFor="let oferta of ofertas" [routerLink]="['/ofertas', oferta.id]">
    <ion-img [src]="oferta.imagePro">
        </ion-img>

  <div class="space1">

    
    <ion-item class="margin1">
      <ion-avatar name="person-circle-outline" class="imgfot arr">
        <ion-img [src]="oferta.imageUrl1">
        </ion-img>
      </ion-avatar>
      <ion-avatar name="person-circle-outline" class="imgfot baj" slot="end">
        <ion-img [src]="oferta.imageUrl2">
        </ion-img>
      </ion-avatar>

      <ion-label>
      <div class="space1">
        {{oferta.rol1}}
        <br>
        {{oferta.name1}}
      </div>
      <br>
      <div class="space2">
        {{oferta.rol2}}
        <br>
        {{oferta.name2}}
      </div>
      <br>
      </ion-label>
      </ion-item>

  </div>
  

    <ion-item>
      <ion-label>
      <div class="space3">
        <div class="space4">
        {{oferta.from}}
        <br>
        {{oferta.desde}}
        </div>
        <div class="space4">
        {{oferta.to}}
        <br>
        {{oferta.hasta}}
        </div>
      </div>
      </ion-label>
      </ion-item>
  <ion-card-content class="mejorada">
    <div>
        {{oferta.final}} {{oferta.producto}}
      </div>
  </ion-card-content>

</ion-card>

</ion-list>
</ion-content>
