#esquina_t_r{
  position: absolute;
  right: 4px;
  bottom: 2px;
}

#img_cent_trans{
  position: relative;
  text-align: center;
  background: transparent;
  width:100px;
  height:80x;
}

.row1{
  position: relative;
  top: 250px;
  text-align: center;
  font-size: 22px;
  color:#757575;
}

.espacio5{
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  text-align: center;
  margin-right: 60px;
}
